In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
webbrowser.open('https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records')

True

Now on that website copy NFL data to clipboard

In [3]:
nfl_data = pd.read_clipboard()

In [4]:
nfl_data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,961,547,408,6,0.572,1960,NFC East
1,2,New England Patriots,957,537,411,9,0.566,1960,AFC East
2,3,Green Bay Packers,"1,409",777,593,38,0.565,1921,NFC North
3,4,Chicago Bears,"1,423",778,603,42,0.562,1920,NFC North
4,5,Miami Dolphins,857,472,381,4,0.553,1966,AFC East
5,6,Baltimore Ravens,392,215,176,1,0.550,1996,AFC North
6,7,Minnesota Vikings,935,498,426,11,0.539,1961,NFC North
7,8,Denver Broncos,942,499,433,10,0.535,1960,AFC West
8,9,New York Giants,"1,370",716,621,33,0.535,1925,NFC East
9,10,San Francisco 49ers,"1,068",562,492,14,0.533,1950,NFC West
10,11,Pittsburgh Steelers,"1,269",664,583,22,0.532,1933,AFC North
11,12,Indianapolis Colts,"1,029",539,483,7,0.527,1953,AFC South
12,13,Oakland Raiders,944,491,442,11,0.526,1960,AFC West
13,14,Kansas City Chiefs,929,479,438,12,0.522,1960,AFC West
14,15,Seattle Seahawks,708,360,347,1,0.509,1976,NFC West
15,16,Washington Redskins,"1,260",623,609,28,0.506,1932,NFC East
16,17,Los Angeles Rams,"1,198",589,588,21,0.500,1937,NFC West
17,18,Los Angeles Chargers,930,459,460,11,0.499,1960,AFC West
18,19,Carolina Panthers,401,199,201,1,0.498,1995,NFC South
19,20,Philadelphia Eagles,"1,249",600,623,26,0.491,1933,NFC East
20,21,Cleveland Browns,"1,001",480,510,11,0.485,1950,AFC North
21,22,Tennessee Titans,935,446,483,6,0.480,1960,AFC South
22,23,Buffalo Bills,930,429,493,8,0.466,1960,AFC East
23,24,Detroit Lions,"1,269",566,671,32,0.459,1930,NFC North
24,25,New Orleans Saints,822,371,446,5,0.454,1967,NFC South
25,26,Cincinnati Bengals,807,362,441,4,0.451,1968,AFC North
26,27,New York Jets,925,413,504,8,0.451,1960,AFC East
27,28,Jacksonville Jaguars,398,177,221,0,0.445,1995,AFC South
28,29,Houston Texans,280,124,156,0,0.443,2002,AFC South
29,30,Atlanta Falcons,840,368,466,6,0.442,1966,NFC South
30,31,Arizona Cardinals,"1,362",560,762,40,0.426,1920,NFC West
31,32,Tampa Bay Buccaneers,691,266,424,1,0.386,1976,NFC South

In [5]:
nfl_data.index

RangeIndex(start=0, stop=32, step=1)

In [8]:
nfl_data.columns

Index(['Rank ', 'Team ', 'GP ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Division'],
      dtype='object')

We will correct the column names as they have extra spaces

In [9]:
nfl_data.columns = [x.strip() for x in nfl_data.columns]

In [10]:
nfl_data.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

Now we will set the Ranks as index for the data

In [13]:
nfl_data.set_index('Rank', inplace=True)

In [14]:
nfl_data

,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
Rank,,,,,,,,
1,Dallas Cowboys,961,547,408,6,0.572,1960,NFC East
2,New England Patriots,957,537,411,9,0.566,1960,AFC East
3,Green Bay Packers,"1,409",777,593,38,0.565,1921,NFC North
4,Chicago Bears,"1,423",778,603,42,0.562,1920,NFC North
5,Miami Dolphins,857,472,381,4,0.553,1966,AFC East
6,Baltimore Ravens,392,215,176,1,0.550,1996,AFC North
7,Minnesota Vikings,935,498,426,11,0.539,1961,NFC North
8,Denver Broncos,942,499,433,10,0.535,1960,AFC West
9,New York Giants,"1,370",716,621,33,0.535,1925,NFC East
10,San Francisco 49ers,"1,068",562,492,14,0.533,1950,NFC West
11,Pittsburgh Steelers,"1,269",664,583,22,0.532,1933,AFC North
12,Indianapolis Colts,"1,029",539,483,7,0.527,1953,AFC South
13,Oakland Raiders,944,491,442,11,0.526,1960,AFC West
14,Kansas City Chiefs,929,479,438,12,0.522,1960,AFC West
15,Seattle Seahawks,708,360,347,1,0.509,1976,NFC West
16,Washington Redskins,"1,260",623,609,28,0.506,1932,NFC East
17,Los Angeles Rams,"1,198",589,588,21,0.500,1937,NFC West
18,Los Angeles Chargers,930,459,460,11,0.499,1960,AFC West
19,Carolina Panthers,401,199,201,1,0.498,1995,NFC South
20,Philadelphia Eagles,"1,249",600,623,26,0.491,1933,NFC East
21,Cleveland Browns,"1,001",480,510,11,0.485,1950,AFC North
22,Tennessee Titans,935,446,483,6,0.480,1960,AFC South
23,Buffalo Bills,930,429,493,8,0.466,1960,AFC East
24,Detroit Lions,"1,269",566,671,32,0.459,1930,NFC North
25,New Orleans Saints,822,371,446,5,0.454,1967,NFC South
26,Cincinnati Bengals,807,362,441,4,0.451,1968,AFC North
27,New York Jets,925,413,504,8,0.451,1960,AFC East
28,Jacksonville Jaguars,398,177,221,0,0.445,1995,AFC South
29,Houston Texans,280,124,156,0,0.443,2002,AFC South
30,Atlanta Falcons,840,368,466,6,0.442,1966,NFC South
31,Arizona Cardinals,"1,362",560,762,40,0.426,1920,NFC West
32,Tampa Bay Buccaneers,691,266,424,1,0.386,1976,NFC South

Now we can access rows using Ranks

In [15]:
nfl_data.loc[7:9]

,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
Rank,,,,,,,,
7,Minnesota Vikings,935,498,426,11,0.539,1961,NFC North
8,Denver Broncos,942,499,433,10,0.535,1960,AFC West
9,New York Giants,"1,370",716,621,33,0.535,1925,NFC East

we can also reset index if we like to go back to previous index

In [17]:
nfl_data.reset_index(inplace=True)

In [18]:
nfl_data

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,961,547,408,6,0.572,1960,NFC East
1,2,New England Patriots,957,537,411,9,0.566,1960,AFC East
2,3,Green Bay Packers,"1,409",777,593,38,0.565,1921,NFC North
3,4,Chicago Bears,"1,423",778,603,42,0.562,1920,NFC North
4,5,Miami Dolphins,857,472,381,4,0.553,1966,AFC East
5,6,Baltimore Ravens,392,215,176,1,0.550,1996,AFC North
6,7,Minnesota Vikings,935,498,426,11,0.539,1961,NFC North
7,8,Denver Broncos,942,499,433,10,0.535,1960,AFC West
8,9,New York Giants,"1,370",716,621,33,0.535,1925,NFC East
9,10,San Francisco 49ers,"1,068",562,492,14,0.533,1950,NFC West
10,11,Pittsburgh Steelers,"1,269",664,583,22,0.532,1933,AFC North
11,12,Indianapolis Colts,"1,029",539,483,7,0.527,1953,AFC South
12,13,Oakland Raiders,944,491,442,11,0.526,1960,AFC West
13,14,Kansas City Chiefs,929,479,438,12,0.522,1960,AFC West
14,15,Seattle Seahawks,708,360,347,1,0.509,1976,NFC West
15,16,Washington Redskins,"1,260",623,609,28,0.506,1932,NFC East
16,17,Los Angeles Rams,"1,198",589,588,21,0.500,1937,NFC West
17,18,Los Angeles Chargers,930,459,460,11,0.499,1960,AFC West
18,19,Carolina Panthers,401,199,201,1,0.498,1995,NFC South
19,20,Philadelphia Eagles,"1,249",600,623,26,0.491,1933,NFC East
20,21,Cleveland Browns,"1,001",480,510,11,0.485,1950,AFC North
21,22,Tennessee Titans,935,446,483,6,0.480,1960,AFC South
22,23,Buffalo Bills,930,429,493,8,0.466,1960,AFC East
23,24,Detroit Lions,"1,269",566,671,32,0.459,1930,NFC North
24,25,New Orleans Saints,822,371,446,5,0.454,1967,NFC South
25,26,Cincinnati Bengals,807,362,441,4,0.451,1968,AFC North
26,27,New York Jets,925,413,504,8,0.451,1960,AFC East
27,28,Jacksonville Jaguars,398,177,221,0,0.445,1995,AFC South
28,29,Houston Texans,280,124,156,0,0.443,2002,AFC South
29,30,Atlanta Falcons,840,368,466,6,0.442,1966,NFC South
30,31,Arizona Cardinals,"1,362",560,762,40,0.426,1920,NFC West
31,32,Tampa Bay Buccaneers,691,266,424,1,0.386,1976,NFC South

We can reindex as well

In [19]:
Ser = Series(['USA','Mexico','Canada'],index = [0,5,10])

In [26]:
Ser

0        USA
5     Mexico
10    Canada
dtype: object

In [33]:
ranger = list(range(20))
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
Ser.reindex(ranger)

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
dtype: object

In [35]:
Ser.reindex(ranger, method = 'ffill') #forwardfill with previous value

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
15    Canada
16    Canada
17    Canada
18    Canada
19    Canada
dtype: object

In [39]:
dframe = DataFrame(np.random.randn(25).reshape(5,5),index=['A','B','C','D','F'],
                  columns=['a','b','c','d','e'])

In [40]:
dframe

          a         b         c         d         e
A -1.736089 -0.598476  1.253648 -0.589268 -1.794989
B  0.937463  2.479507  0.711117  0.873487  0.294075
C  1.110672 -1.884461 -0.457660 -1.557228  1.925005
D -0.613979 -1.465024 -1.318956  0.134092  0.997656
F  1.141633 -0.658755 -0.609167 -0.596952 -1.127155

In [41]:
dframe2= dframe.reindex(['A','B','C','D','E','F'])
dframe2

          a         b         c         d         e
A -1.736089 -0.598476  1.253648 -0.589268 -1.794989
B  0.937463  2.479507  0.711117  0.873487  0.294075
C  1.110672 -1.884461 -0.457660 -1.557228  1.925005
D -0.613979 -1.465024 -1.318956  0.134092  0.997656
E       NaN       NaN       NaN       NaN       NaN
F  1.141633 -0.658755 -0.609167 -0.596952 -1.127155

As indicated above when reindexing is done, pandas with auto fill with NAN if the index is not found

In [44]:
new_columns = ['a','b','c','col1','col2','col3']

In [45]:
dframe2.reindex(columns=new_columns)

          a         b         c  col1  col2  col3
A -1.736089 -0.598476  1.253648   NaN   NaN   NaN
B  0.937463  2.479507  0.711117   NaN   NaN   NaN
C  1.110672 -1.884461 -0.457660   NaN   NaN   NaN
D -0.613979 -1.465024 -1.318956   NaN   NaN   NaN
E       NaN       NaN       NaN   NaN   NaN   NaN
F  1.141633 -0.658755 -0.609167   NaN   NaN   NaN