In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#Different ways of reading the files

In [7]:
dframe = pd.read_csv(r'P4-Demographic-Data.csv')

In [9]:
dframe.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [11]:
dframe = pd.read_csv(r'P4-Demographic-Data.csv',sep=',',header=None)

In [14]:
dframe.head(10)

,0,1,2,3,4
0,Country Name,Country Code,Birth rate,Internet users,Income Group
1,Aruba,ABW,10.244,78.9,High income
2,Afghanistan,AFG,35.253,5.9,Low income
3,Angola,AGO,45.985,19.1,Upper middle income
4,Albania,ALB,12.877,57.2,Upper middle income
5,United Arab Emirates,ARE,11.044,88,High income
6,Argentina,ARG,17.716,59.9,High income
7,Armenia,ARM,13.308,41.9,Lower middle income
8,Antigua and Barbuda,ATG,16.447,63.4,High income
9,Australia,AUS,13.2,83,High income

In [17]:
dframe = pd.read_csv(r'P4-Demographic-Data.csv',header=None,nrows=3)

In [18]:
dframe

              0             1           2               3             4
0  Country Name  Country Code  Birth rate  Internet users  Income Group
1         Aruba           ABW      10.244            78.9   High income
2   Afghanistan           AFG      35.253             5.9    Low income

To write to csv file

In [21]:
dframe.to_csv('Demographicdata_out.csv')

In [22]:
import sys

In [23]:
dframe.to_csv(sys.stdout) #This to output data to commandline

,0,1,2,3,4
0,Country Name,Country Code,Birth rate,Internet users,Income Group
1,Aruba,ABW,10.244,78.9,High income
2,Afghanistan,AFG,35.253,5.9,Low income

In [24]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_Country Name_Country Code_Birth rate_Internet users_Income Group
1_Aruba_ABW_10.244_78.9_High income
2_Afghanistan_AFG_35.253_5.9_Low income

In [27]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?Country Name?Country Code?Birth rate?Internet users?Income Group
1?Aruba?ABW?10.244?78.9?High income
2?Afghanistan?AFG?35.253?5.9?Low income

In [28]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,Country Name,Country Code,Birth rate
1,Aruba,ABW,10.244
2,Afghanistan,AFG,35.253

More info - url = 'https://docs.python.org/3.8/library/csv.html'