First install MySQL python connector

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sadiqgpasha\anaconda3\lib\site-packages (8.0.19)
Requirement already satisfied: protobuf==3.6.1 in c:\users\sadiqgpasha\anaconda3\lib\site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: dnspython==1.16.0 in c:\users\sadiqgpasha\anaconda3\lib\site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: six>=1.9 in c:\users\sadiqgpasha\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\users\sadiqgpasha\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (41.0.1)
Note: you may need to restart the kernel to use updated packages.

#### Test the MySQL Database connection with Python

To test database connection here we use pre-installed MySQL connector and pass credentials into connect() function like host, username and password.

Syntax to access MySQL with Python:

	import mysql.connector
	db_connection = mysql.connector.connect(
  	host="hostname",
  	user="username",
  	passwd="password"
    )

In [2]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxxxx"
)
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002596D089DA0>

#### Creating Database in MySQL using Python

Syntax to Create new database in SQL is

CREATE DATABASE "database_name"

In [4]:
import mysql.connector
db_connection = mysql.connector.connect(host = 'localhost', username = 'root', password = 'xxxxxxxxxxxx')

In [5]:
# creating database_cursor to perform SQL operation
db_cursor = db_connection.cursor()

In [6]:
# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE my_first_db")

In [7]:
# get list of all databases
db_cursor.execute("SHOW DATABASES")

In [8]:
#print all databases
for db in db_cursor:
    print(db)

('information_schema',)
('my_first_db',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

#### Create a Table in MySQL with Python

Let's create a simple table "student" which has two columns.

SQL Syntax:

CREATE  TABLE student (id INT, name VARCHAR(255))

In [11]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxx",
  database="my_first_db"
  )

In [12]:
db_cursor = db_connection.cursor()

#Here creating database table as student'
db_cursor.execute("CREATE TABLE student (id INT, name VARCHAR(255))")

#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('student',)

#### Create a Table with Primary Key

Let's create an Employee table with three different columns. We will add a primary key in id column with AUTO_INCREMENT constraint

SQL Syntax,

CREATE TABLE employee(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), salary INT(6))

In [14]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxxxx",
  database="my_first_db"
  )

In [15]:
db_cursor = db_connection.cursor()

#Here creating database table as employee with primary key
db_cursor.execute("CREATE TABLE employee(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), salary INT(6))")

#Get database table
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('employee',)
('student',)

#### ALTER table in MySQL with Python

Alter command is used for modification of Table structure in SQL. Here we will alter Student table and add a primary key to the id field.

SQL Syntax,

ALTER TABLE student MODIFY id INT PRIMARY KEY

In [16]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxxx",
  database="my_first_db"
  )
db_cursor = db_connection.cursor()
#Here we modify existing column id
db_cursor.execute("ALTER TABLE student MODIFY id INT PRIMARY KEY")

#### Insert Operation with MySQL in Python:

Let's perform insertion operation in MySQL Database table which we already create. We will insert data oi STUDENT table and EMPLOYEE table.

SQL Syntax,

INSERT INTO student (id, name) VALUES (01, "John")

INSERT INTO employee (id, name, salary) VALUES(01, "John", 10000)

In [18]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxx",
  database="my_first_db"
  )

db_cursor = db_connection.cursor()

student_sql_query = "INSERT INTO student(id,name) VALUES(01, 'John')"

employee_sql_query = " INSERT INTO employee (id, name, salary) VALUES (01, 'John', 10000)"

#Execute cursor and pass query as well as student data
db_cursor.execute(student_sql_query)

#Execute cursor and pass query of employee and data of employee
db_cursor.execute(employee_sql_query)
db_connection.commit()

print(db_cursor.rowcount, "Record Inserted")

1 Record Inserted

In [19]:
# get list of all databases
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

('information_schema',)
('my_first_db',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [20]:
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('employee',)
('student',)

In [6]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxxxxx",
  database="my_first_db"
  )
db_cursor = db_connection.cursor()
sql_select_query = """select * from employee"""
db_cursor.execute(sql_select_query)
records = db_cursor.fetchall()
print(records)

[(1, 'John', 10000)]

In [7]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxxxxxxxx",
  database="my_first_db"
  )
db_cursor = db_connection.cursor()
sql_select_query = """select * from student"""
db_cursor.execute(sql_select_query)
records = db_cursor.fetchall()
print(records)

[(1, 'John')]