#### Python Database Programming Exercise: Hospital Information System

In this exercise, We are implementing the Hospital Information System. We are using two SQL tables Hospital and Doctor. The SQL query to prepare the required tables is below.

SQL Data Model that we will use for this exercise

    Hospital:
    Hospital_Id(P)
    Hospital_Name
    Bed_Count
    
    Doctor:
    Doctor_Id(P)
    Doctor_Name
    Hospital_id(F)
    Joining_Date
    Speciality
    Salary
    Experience

#### First test the connection to MySQL

In [2]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx"
)
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023B134BCCC0>

#### First we create a database to store this data:

In [4]:
import mysql.connector

db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx"
)

# creating database_cursor to perform SQL operation
db_cursor = db_connection.cursor()

# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE Medical_DB")

# get list of all databases
db_cursor.execute("SHOW DATABASES")

#print all databases
for db in db_cursor:
    print(db)

('information_schema',)
('medical_db',)
('my_first_db',)
('mysql',)
('performance_schema',)
('python_db',)
('sakila',)
('sys',)
('world',)

In [5]:
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode

def getDbConnection():
    #Get Database connection
    try:
        connection = mysql.connector.connect(host='localhost',
                             database='medical_db',
                             user='root',
                             password="xxxxxxxxxxxx")

        return connection
    except mysql.connector.Error as error :
        print("Failed to connect to database {}".format(error))

def closeDbConnection(connection):
    #Close Database connection
    try:
        connection.close()
    except mysql.connector.Error as error :
        print("Failed to close database connection {}".format(error))

def readDbVersion():
    try:
        connection = getDbConnection()
        db_Info = connection.get_server_info()
        print("Connected to MySQL database... MySQL Server version is ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Your connected to - ", record)

        closeDbConnection(connection)

    except mysql.connector.Error as error :
        print("Failed to read database version {}".format(error))
    
print("Start of a Python Database Programming Exercise\n")

readDbVersion()

print("End of a Python Database Programming Exercise\n\n")

Start of a Python Database Programming Exercise

Connected to MySQL database... MySQL Server version is  8.0.19
Your connected to -  ('medical_db',)
End of a Python Database Programming Exercise

#### Create a Table in MySQL with Python

CREATE TABLE `python_db`.`Hospital` ( `Hospital_Id` INT UNSIGNED NOT NULL , `Hospital_Name` TEXT NOT NULL , `Bed_Count` INT , 
PRIMARY KEY (`Hospital_Id`))

INSERT INTO `hospital` (`Hospital_Id`, `Hospital_Name`, `Bed Count`) VALUES 
('1', 'Mayo Clinic', '200'), 
('2', 'Cleveland Clinic', '400'), 
('3', 'Johns Hopkins', '1000'), 
('4', 'UCLA Medical Center', '1500')

In [7]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx",
  database="medical_db"
  )

db_cursor = db_connection.cursor()

#Here creating database table as student'
db_cursor.execute("CREATE TABLE medical_db.Hospital ( Hospital_Id INT UNSIGNED NOT NULL , Hospital_Name TEXT NOT NULL , Bed_Count INT , PRIMARY KEY (Hospital_Id))")

#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('hospital',)

In [12]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx",
  database="medical_db"
  )

db_cursor = db_connection.cursor()

db_cursor.execute("INSERT INTO `hospital` (`Hospital_Id`, `Hospital_Name`, `Bed_Count`) VALUES \
('1', 'Mayo Clinic', '200'), \
('2', 'Cleveland Clinic', '400'), \
('3', 'Johns Hopkins', '1000'), \
('4', 'UCLA Medical Center', '1500')")
db_connection.commit()

print(db_cursor.rowcount, "Record Inserted")

4 Record Inserted

#### Likewise create Doctor table and insert the records

In [16]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx",
  database="medical_db"
  )

db_cursor = db_connection.cursor()

#Here creating database table as student'
db_cursor.execute("CREATE TABLE `medical_db`.`Doctor`( `Doctor_Id` INT UNSIGNED NOT NULL , `Doctor_Name` TEXT NOT NULL , `Hospital_Id` INT NOT NULL , \
`Joining_Date` DATE NOT NULL , \
`Speciality` TEXT NULL , \
`Salary` INT NULL , \
`Experience` INT NULL , \
PRIMARY KEY (`Doctor_Id`))")

#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('doctor',)
('hospital',)

In [17]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx",
  database="medical_db"
  )

db_cursor = db_connection.cursor()

db_cursor.execute("INSERT INTO `doctor` (`Doctor_Id`, `Doctor_Name`, `Hospital_Id`, `Joining_Date`, `Speciality`, `Salary`, `Experience`) VALUES \
('101', 'David', '1', '2005-2-10', 'Pediatric', '40000', NULL), \
('102', 'Michael', '1', '2018-07-23', 'Oncologist', '20000', NULL), \
('103', 'Susan', '2', '2016-05-19', 'Garnacologist', '25000', NULL), \
('104', 'Robert', '2', '2017-12-28', 'Pediatric ', '28000', NULL), \
('105', 'Linda', '3', '2004-06-04', 'Garnacologist', '42000', NULL), \
('106', 'William', '3', '2012-09-11', 'Dermatologist', '30000', NULL), \
('107', 'Richard', '4', '2014-08-21', 'Garnacologist', '32000', NULL), \
('108', 'Karen', '4', '2011-10-17', 'Radiologist', '30000', NULL)")
db_connection.commit()

print(db_cursor.rowcount, "Record Inserted")

8 Record Inserted

#### Read given Hospital and Doctor Information

Implement the functionality to read the details of a given doctor from doctor table and Hospital from hospital table. i.e., read records from Hospital and Doctor Table as per given hospital Id and Doctor Id and display hospital and doctor information.

In [18]:
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode

def readHospitalDetails(hospital_Id):
    #Read data from Hospital table
    try:
        #Call getDbConnection method to get connection. 
    #This method already provided in question 1
    
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """select * from Hospital where Hospital_Id = %s"""
        cursor.execute(sql_select_query, (hospital_Id, ))
        records = cursor.fetchall()

        print("Printing Hospital record")
        for row in records:
            print("Hospital Id: = ", row[0], )
            print("Hospital Name: = ", row[1])
            print("Bed Count:  = ", row[2], "\n")

        #Close db connection
        closeDbConnection(connection)

    except mysql.connector.Error as error :
        print("Failed to read hospital table {}".format(error))

def readDoctorDetails(doctor_Id):
    # Read data from Doctor table
    try:
        # Call getDbConnection method to get connection
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """select * from Doctor where Doctor_Id = %s"""
        cursor.execute(sql_select_query, (doctor_Id, ))
        records = cursor.fetchall()

        print("Printing Doctor record")
        for row in records:
            print("Doctor Id: = ", row[0])
            print("Doctor Name: = ", row[1])
            print("Hospital Id: = ", row[2])
            print("Joining Date: = ", row[3])
            print("Speciality: = ", row[4])
            print("Salary: = ", row[5])
            print("Experience:  = ", row[6], "\n")

        # Close db connection
        closeDbConnection(connection)

    except mysql.connector.Error as error :
        print("Failed to read Doctor table {}".format(error))


print("Start of a Python Database Programming Exercise\n\n")

readHospitalDetails(2)
readDoctorDetails(105)

print("End of a Python Database Programming Exercise\n\n")

Start of a Python Database Programming Exercise


Printing Hospital record
Hospital Id: =  2
Hospital Name: =  Cleveland Clinic
Bed Count:  =  400

Printing Doctor record
Doctor Id: =  105
Doctor Name: =  Linda
Hospital Id: =  3
Joining Date: =  2004-06-04
Speciality: =  Garnacologist
Salary: =  42000
Experience:  =  None

End of a Python Database Programming Exercise

#### Get List Of Doctors as per Speciality

Implement the functionality to create a list of doctors as per given Speciality and salary greater than as per the input amount.

In [19]:
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode

def getSpecialistDoctorsList(Speciality, Salary):
    #Fetch doctor's details as per Speciality
    try:
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """select * from Doctor where Speciality=%s and Salary > %s"""
        cursor.execute(sql_select_query, (Speciality, Salary))
        records = cursor.fetchall()

        print("Printing Doctors record as per given Speciality")
        for row in records:
            print("Doctor Id: = ", row[0])
            print("Doctor Name: = ", row[1])
            print("Hospital Id: = ", row[2])
            print("Joining Date: = ", row[3])
            print("Speciality: = ", row[4])
            print("Salary: = ", row[5])
            print("Experience:  = ", row[6], "\n")

        closeDbConnection(connection)

    except mysql.connector.Error as error :
        print("Failed to read doctor's data {}".format(error))


getSpecialistDoctorsList("Garnacologist", 30000)

Printing Doctors record as per given Speciality
Doctor Id: =  105
Doctor Name: =  Linda
Hospital Id: =  3
Joining Date: =  2004-06-04
Speciality: =  Garnacologist
Salary: =  42000
Experience:  =  None

Doctor Id: =  107
Doctor Name: =  Richard
Hospital Id: =  4
Joining Date: =  2014-08-21
Speciality: =  Garnacologist
Salary: =  32000
Experience:  =  None

#### Get List of doctors within a given Hospital

In [20]:
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode

def getHospitalName(HospitalId):
    #Fetch Hospital Name using Hospital Id
    try:
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """select * from Hospital where Hospital_Id = %s"""
        cursor.execute(sql_select_query, (HospitalId, ))
        record = cursor.fetchone()
        closeDbConnection(connection)
        return record[1]
    except mysql.connector.Error as error :
        print("Failed to read hospital data {}".format(error))

def GetDoctordWithinHospital(hospitalId):
    #Fetch All doctors within given Hospital
    try:
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """select * from Doctor where Hospital_Id = %s"""
        cursor.execute(sql_select_query, (hospitalId, ))
        records = cursor.fetchall()

        print("Printing Doctors Within given Hospital")
        for row in records:
            print("Doctor Id: = ", row[0])
            print("Doctor Name: = ", row[1])
            print("Hospital Id: = ", row[2])
            hospitalName = getHospitalName(row[2])
            print("Hospital Name: = ", hospitalName)
            print("Joining Date: = ", row[3])
            print("Speciality: = ", row[4])
            print("Salary: = ", row[5])
            print("Experience:  = ", row[6], "\n")
        closeDbConnection(connection)
    except mysql.connector.Error as error :
        print("Failed to read doctor's data within Hospital {}".format(error))

GetDoctordWithinHospital(2)

Printing Doctors Within given Hospital
Doctor Id: =  103
Doctor Name: =  Susan
Hospital Id: =  2
Hospital Name: =  Cleveland Clinic
Joining Date: =  2016-05-19
Speciality: =  Garnacologist
Salary: =  25000
Experience:  =  None

Doctor Id: =  104
Doctor Name: =  Robert
Hospital Id: =  2
Hospital Name: =  Cleveland Clinic
Joining Date: =  2017-12-28
Speciality: =  Pediatric
Salary: =  28000
Experience:  =  None

#### update doctor experience in years

In [21]:
import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode
import datetime
from dateutil.relativedelta import relativedelta

def getDoctorJoiningDate(DoctorId):
    #Get Doctor's joning date using doctor ID
    try:
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """select Joining_Date from Doctor where Doctor_Id = %s"""
        cursor.execute(sql_select_query, (DoctorId, ))
        joinDate = cursor.fetchone()
        closeDbConnection(connection)
        return joinDate
    except mysql.connector.Error as error :
        print("Failed to read hospital data {}".format(error))

def updateDoctorsExperience(doctorId):
    #Update Doctor Experience in Years
    try:
        #Get joining date
        joiningDate = getDoctorJoiningDate(doctorId)
    
    #calculate Experience in years
        joiningDate = datetime.datetime.strptime(''.join(map(str, joiningDate)), '%Y-%m-%d')
        todays_Date = datetime.datetime.now()
        Experience_in_years = relativedelta(todays_Date, joiningDate).years

        #Update doctor's Experience now
        connection = getDbConnection()
        cursor = connection.cursor()
        sql_select_query = """update Doctor set Experience = %s where Doctor_Id =%s"""
        cursor.execute(sql_select_query, (Experience_in_years, doctorId))
        connection.commit()
        print(doctorId, "Doctor experience updated to ", Experience_in_years," years")
        closeDbConnection(connection)

    except mysql.connector.Error as error :
        connection.rollback()
        print("Failed to read doctor's data {}".format(error))

updateDoctorsExperience(101)

101 Doctor experience updated to  15  years

#### Display all records from both Hospital and Doctor tables

In [22]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx",
  database="medical_db"
  )
db_cursor = db_connection.cursor()
sql_select_query = """select * from hospital"""
db_cursor.execute(sql_select_query)
records = db_cursor.fetchall()
print(records)

[(1, 'Mayo Clinic', 200), (2, 'Cleveland Clinic', 400), (3, 'Johns Hopkins', 1000), (4, 'UCLA Medical Center', 1500)]

In [23]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="xxxxxxxxxxxx",
  database="medical_db"
  )
db_cursor = db_connection.cursor()
sql_select_query = """select * from doctor"""
db_cursor.execute(sql_select_query)
records = db_cursor.fetchall()
print(records)

[(101, 'David', 1, datetime.date(2005, 2, 10), 'Pediatric', 40000, 15), (102, 'Michael', 1, datetime.date(2018, 7, 23), 'Oncologist', 20000, None), (103, 'Susan', 2, datetime.date(2016, 5, 19), 'Garnacologist', 25000, None), (104, 'Robert', 2, datetime.date(2017, 12, 28), 'Pediatric ', 28000, None), (105, 'Linda', 3, datetime.date(2004, 6, 4), 'Garnacologist', 42000, None), (106, 'William', 3, datetime.date(2012, 9, 11), 'Dermatologist', 30000, None), (107, 'Richard', 4, datetime.date(2014, 8, 21), 'Garnacologist', 32000, None), (108, 'Karen', 4, datetime.date(2011, 10, 17), 'Radiologist', 30000, None)]

End of simple project, 

    In this project we have created database called medical_db
    Then we have created 2 tables called hospital and doctor
    Then we have inserted rows of data into the tables
    Then we have updated experience for doctors
    then we have displayed all the rows form both tables

Further we cna also convert those records into dataframes using pandas and then wer can do further analysis if required.